.hero-slider {
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  margin-top: calc(#{$header-height} * -1);

  @include tablet {
    margin-top: calc(#{$header-tablet-height} * -1);
  }

  @include mobile {
    margin-top: calc(#{$header-mobile-height} * -1);
  }

  &__item {
    @include flex(center, space-between);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    inset: 0;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
    }

    &__info {
      width: 50%;
      &__title,
      &__description {
        margin-bottom: 60px;

        @include tablet {
          margin-bottom: 15px;
        }
      }

      &__title {
        font-weight: 600;
        font-size: 4.5rem;
      }
    }
  }
}
